
    body {
        background-color: darkblue;   
    }
    
    table {
        border: 1px solid black;
        width: 100%;
    }
    th, tr, td {
        border: 0px;
        padding: 0px;
        text-align: center;
    }
    h1 {
        color: blue;
        text-shadow: 2px 2px #000000;
        text-align: center;
        font-style: italic;
        font-weight: bold;
        font-family: cursive;
    }
    #p1 {
	text-align: center;
        color: black;
        font-size: 27px;
        font-weight: bold;
        font-family: Serifs;
    }
    #p2 {
        text-align: center;
        font-size: 50px;
        font-style: italic;
        font-weight: bold;
    }
    #p3 {
	color: white;
        text-align: center;
        font-size: 35px;
        font-weight: bold;
    }
    #p4 {
	color: white;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }
    #p5 {
	color: white;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }
    #p6 {
	color: white;
        text-align: center;
        font-size: 50px;
        font-weight: bold;
    }
    .button1 {
        background: none;
        border: none;
        color: black;
        padding: 10px 110px;
	margin: 5px;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        text-decoration: white;
        transition-duration: 0.4s;
	cursor: pointer;
     }
     a:link {
         color: blue;
     }
     a:visited {
         color: red;
     }
     .cover {
        object-fit: cover;    
        width: 50%;
        height: 50%;
        margin: 0px;
     }
     #img-cir {
  	border-radius: 50%;
     }
     #a-pw {
        color: white;
     }
     .content {
        padding: 20px;
	text-align: center;
     }
     .content2 {
	display: flex;
	flex-wrap: wrap;
        justify-content: space-around;
     }
     img {
        max-width: 100%;
        height: auto;
	align-content: center;
     }
     marquee {
        font-size: 2vw;
     }  
     video {
        max-width: 100%;
        height: auto;
     }
     header {
    	text-align: center;
  	background: aqua;
  	color: blue;
  	font-size: 40px;
     }
     footer {
    	text-align: center;
  	background: aqua;
  	color: blue;
  	font-size: 30px;
     }
     @media only screen and (max-width: 768px) {
	 body {
    		font-size: 14px;
 	 }
  	.content {
    		padding: 10px;
 	 }
     }
     @media only screen and (max-width: 480px) {
  	body {
    		font-size: 12px;
  	 }
  	.content {
    		padding: 5px;
     }

  	.content2 {
    		display: block;
  	 }
     }